<form method="POST" id="login-form" action="/login">
  <div class="alert alert-danger" role="alert" id="login-failed">
    Login failed. Please try again.
  </div>
  <div class="alert alert-danger" role="alert" id="login-false">
    Username does not match password.
  </div>
  <div class="alert alert-success" role="alert" id="reg-success">
    User Created. Please Log In.
  </div>
  <div class="form-group">
    <label for="uid">Username</label>
    <input type="text" class="form-control" name="uid" id="uid" required>
  </div>
  <div class="form-group">
    <label for="pwd">Password</label>
    <input type="password" name="pwd" class="form-control" id="pwd" required>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
<script>
  $(document).ready(function(){
    var loginParam = $.urlParam('login');
  if(loginParam == 'false'){
    $("#login-false").fadeIn();
  }
  if(loginParam == 'failed'){
    $("#login-failed").fadeIn();
  }
  });
</script>
