<form method="POST" id="register-form" action="/register">
    <div class="alert alert-danger" role="alert" id="reg-false">
        User Exists. Please Try Another.
    </div>
    <div class="alert alert-danger" role="alert" id="pass-match">
            Passwords do not match.
    </div>
    <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" name="fname" id="fname" required>
    </div>
    <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" name="lname" id="lname" required>
    </div>
    <div class="form-group">
        <label for="ruid">Username</label>
        <input type="text" class="form-control" name="ruid" id="ruid" required>
    </div>
    <div class="form-group">
        <label for="rpwd">Password</label>
        <input type="password" name="rpwd" class="form-control" id="rpwd" required>
    </div>
    <div class="form-group">
        <label for="pwd-repeat">Repeat Password</label>
        <input type="password" name="pwd-repeat" class="form-control" id="pwd-repeat" required>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
<script>
     $("#register-form").submit(function(){
        if ($("#rpwd").val() != $("#pwd-repeat").val()){
            $("#pass-match").fadeIn();
            return false;
        }
    });
    $(document).ready(function () {
        var regParam = $.urlParam('register');
        if (regParam == 'false') {
            $("#reg-false").fadeIn();
            $("#login-link").removeClass("active");
            $("#register-link").addClass("active");
            $(".login").hide();
            $(".register").show();
        }
        if (regParam == 'true') {
            $("#reg-success").fadeIn();
        }
    });
</script>