<!DOCTYPE html>
<html lang="en" class="fill-height">

<head>
  <title>
    <%= title %>
  </title>
  <% include partials/head %>
    <!-- Dash Scripts -->
    <script src="/javascripts/dash.js"></script>
</head>

<body class="fill-height">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h3 class="navbar-brand">Dashboard</h3>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <button class="btn btn-sm btn-outline-secondary" type="button">Sign Out</button>
          </li>
        </ul>
    </div>
    </nav>
  </div>
  <br>
  <div class="jumbotron fill-height"><br>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="btn-group-vertical" style="width: 100%;">
            <button type="button" class="btn btn-lg btn-secondary nav-link active" id="Show-Users" onclick="getUsers()">Show Users</button>
            <button type="button" class="btn btn-lg btn-secondary nav-link" id="Change-Password" onclick="changePass()">Change Password</button>
            <button type="button" class="btn btn-lg btn-secondary nav-link" id="Show-Products" onclick="showProducts()">Show Products</button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-9">
          <div class="manager">
            <div class="row">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>