body{
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}

.register{
  display:none;
}

#login-false, #login-failed, #reg-false, #reg-success, #pass-match{
  display: none;
}
.fill-height{
  height:100%;
  margin-bottom: 0;
}
body > .fill-height{
  padding:0;
  margin:0;
}
.control{
  float:right;
  padding: 3px;
}